:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --sec-text-color: #757575;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --card-set-gap: 30px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  /* width: fit-content; */
}
@media screen and (min-width: 480px) {
  img {
    width: 100%;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo-clients-icon, .input-check-box, .check-text span, .check-text, .card-soc-link-foot, .advantage__box, .card-soc-link, .filter-text, .button-email, .modal-btn {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .headercontainer {
    display: flex;
    width: 100%;
    height: 60px;
    position: relative;
    border: none;
  }
}
@media screen and (min-width: 480px) {
  .headercontainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 60px;
    position: relative;
    border: none;
    border-bottom: 1px solid #ececec;
  }
}
@media screen and (min-width: 768px) {
  .headercontainer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    height: 80px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .headercontainer {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ececec;
    gap: unset;
    margin: 0;
    margin: auto;
  }
}

@media screen and (max-width: 479px) {
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    display: flex;
    align-items: center;
    margin-left: 93px;
    height: 80px;
  }
}

.header-list {
  display: flex;
  gap: 8px;
}
@media screen and (min-width: 480px) {
  .header-list {
    width: 450px;
    flex-wrap: wrap;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .header-list {
    width: 738px;
    justify-content: center;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header-list {
    display: flex;
    gap: 8px;
  }
}

.menulist {
  display: flex;
  gap: 50px;
}

@media screen and (max-width: 480px) {
  .header-list-img {
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .header-list-img {
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .header-list-img {
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header-list-img {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 480px) {
  .connect {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .connect {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .connect {
    display: flex;
    margin-left: auto;
    flex-direction: row;
  }
}

@media screen and (min-width: 480px) {
  .connect__adress {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 40px;
  }
}
@media screen and (min-width: 768px) {
  .connect__adress {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .connect__adress {
    flex-direction: row;
    color: var(--accent-color);
    transition: color 300ms linear;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (min-width: 480px) {
  .connect__email {
    display: block;
    text-align: left;
    padding-left: 40px;
  }
}
@media screen and (min-width: 768px) {
  .connect__email {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .connect__email {
    justify-content: flex-end;
  }
  .connect__email:hover, .connect__email:focus {
    color: var(--accent-color);
  }
}

.connect__box {
  color: var(--accent-color);
  transition: color 300ms linear;
}

@media screen and (max-width: 479px) {
  .connect__box {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .connect__box {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #2196F3;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .connect__box {
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #757575;
  }
}
@media screen and (min-width: 1200px) {
  .connect__box {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--sec-text-color);
  }
  .connect__box:hover, .connect__box:focus {
    color: var(--accent-color);
  }
}

.connect__box1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--sec-text-color);
}
@media screen and (min-width: 480px) {
  .connect__box1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    margin-top: 120px;
    color: #757575;
  }
}

.mail-icon {
  /* outline: solid red 1px; */
  width: 16px;
  height: 12px;
  margin-top: 0px;
  fill: currentColor;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-icon .tel-icon:hover, .mail-icon .tel-icon:focus {
  fill: var(--accent-color);
}

.tel-icon {
  height: 16px;
  width: 10px;
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-box {
  display: block;
  align-items: center;
  margin: 0%;
}
@media screen and (min-width: 480px) {
  .tel-box {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .tel-box {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .tel-box {
    margin-top: 0;
    margin-left: 30px;
  }
}

.hero-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: #212121;
}

.hero-box {
  padding: 30px;
}

.hero-about {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 16px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.menu__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding: 32px 0;
  position: relative;
}
.menu .menu__link:hover, .menu .menu__link:focus {
  color: var(--accent-color);
}

.team {
  width: 100%;
}

@media screen and (max-width: 479px) {
  .container {
    width: 100%;
    margin: auto;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 100%;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.menu-button {
  padding: 0 10px;
  margin: 0;
  border: none;
  background-color: transparent;
}
@media screen and (max-width: 479px) {
  .menu-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 480px) {
  .menu-button {
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icon-cross {
  fill: currentColor;
}

.icon-cross:hover {
  fill: #2196F3;
}

.menu-button .icon-menu {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button.is-open .icon-cross {
  display: none;
}

.content-menu {
  background-color: white;
  text-align: center;
  font-size: 20px;
  height: 796px;
  width: 100%;
}
.content-menu.is-open {
  display: block;
}
@media screen and (max-width: 479px) {
  .content-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .content-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}
@media screen and (min-width: 767px) {
  .content-menu {
    display: none;
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
  }
}

.menulist1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 30px;
  gap: 30px;
  border: none;
  width: 100%;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-navigation {
  padding-left: 20px;
}

.menu-contacts {
  margin-top: 200px;
}

.menu-link-mob {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  padding-left: 40px;
  color: #212121;
}

.soc-links-mob {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 40px;
  gap: 10px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.soc-links-mob-style {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
  color: #2196F3;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  margin: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.button-position {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .button-position {
    width: 326px;
    margin: 15px;
    justify-content: left;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .button-position {
    width: 738px;
    margin: 15px;
    justify-content: left;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .button-position {
    width: 1170px;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.header-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border: 0;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-btn:hover {
  background-color: var(--accent-color);
  color: var(--main-btn-color);
  box-shadow: var(--card-shadow);
}
@media screen and (min-width: 480px) {
  .header-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.modal-btn {
  width: 30px;
  height: 30px;
  border: 1px solid #909090;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}
.modal-btn:hover {
  fill: var(--accent-color);
}

.button-email {
  /* margin-top: 40px; */
  justify-content: center;
  width: 200px;
  background-color: #2196f3;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 188% */
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 50px;
  font-weight: 700;
  /* padding: 10px 32px; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-email:hover {
  background-color: #188ce8;
  color: #ffffff;
}
@media screen and (max-width: 480px) {
  .button-email {
    display: flex;
    margin-top: 20px;
    width: 200px;
    justify-content: center;
  }
}
@media screen and (min-width: 480px) {
  .button-email {
    display: flex;
    margin-top: 20px;
    width: 200px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .button-email {
    display: flex;
    margin-top: 20px;
    width: 200px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .button-email {
    width: 200px;
    margin: auto;
  }
}

.button-email-icon {
  margin-left: 12px;
}
@media screen and (min-width: 480px) {
  .button-email-icon {
    width: 24px;
    height: 24px;
  }
}

.filter-text {
  cursor: pointer;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 188% */
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  /* padding: 10px 32px; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-text:hover {
  background-color: #188ce8;
  color: #ffffff;
}

section {
  padding-bottom: 94px;
}
@media screen and (max-width: 479px) {
  section {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 480px) {
  section {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  section {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  section {
    width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-padding-top {
  padding-top: 0;
}
@media screen and (max-width: 479px) {
  .section-padding-top {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .section-padding-top {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section-padding-top {
    display: block;
  }
}

.card-container {
  width: 1170px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red;   */
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .card-container {
    width: 450px;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .card-container {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .card-container {
    width: 1170px;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid red;   */
    margin-left: auto;
    margin-right: auto;
  }
}

.card-set {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: -30px;
  /* margin-bottom: 94px; */
}
@media screen and (min-width: 480px) {
  .card-set {
    flex-direction: column;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .card-set {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .card-set {
    flex-direction: row;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: -30px;
  }
}

.card-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0%;
  /* margin-top: 16px;
  margin-bottom: 30px; */
}

.card-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-soc-link:hover, .card-soc-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.card-soc-icon {
  fill: currentColor;
}

.card-set > .item {
  flex-basis: calc(33.3333333333% - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}
@media screen and (min-width: 768px) {
  .card-set > .item {
    flex-basis: calc(50% - var(--card-set-gap));
    margin: auto;
    margin-top: 40px;
    width: 354px;
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .card-set > .item {
    flex-basis: calc(33.3333333333% - var(--card-set-gap));
    margin: auto;
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

/* CARD */
.card {
  /* box-shadow: var(--card-shadow); */
  border: solid #eeeeee 1px;
  border-radius: 4px;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover, .card:focus {
  box-shadow: var(--card-shadow);
}

.card-team {
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
  background-color: #ffffff;
}
@media screen and (max-width: 480px) {
  .card-team {
    margin: 30px 15px;
  }
}
@media screen and (min-width: 480px) {
  .card-team {
    margin: 30px 15px;
  }
}
@media screen and (min-width: 768px) {
  .card-team {
    width: 354px;
    margin: 0%;
  }
}
@media screen and (min-width: 1200px) {
  .card-team {
    width: 270px;
    margin: 0%;
  }
}

.card-content {
  padding: 28px 24px;
  height: auto;
}

.slogan__container {
  /* width: 696px ; */
  max-width: 650px;
  /* height: 120px; */
  display: block;
}
@media screen and (max-width: 479px) {
  .slogan__container {
    width: 100%;
    padding: 0 60px;
  }
}
@media screen and (min-width: 480px) {
  .slogan__container {
    width: 100%;
    padding: 0 60px;
  }
}
@media screen and (min-width: 768px) {
  .slogan__container {
    width: 100%;
    padding: 0 204px;
  }
}

.slogan__text {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
@media screen and (max-width: 480px) {
  .slogan__text {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 768px) {
  .slogan__text {
    font-weight: 900;
    font-size: 24px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

.slogan {
  background-color: #2f303a;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(25, 28, 38, 0.4), rgba(25, 28, 38, 0.4)), url("../images/img_head.png");
  background-size: cover;
}
@media screen and (max-width: 479px) {
  .slogan {
    background-image: linear-gradient(rgba(25, 28, 38, 0.4), rgba(25, 28, 38, 0.4)), url("../images/img_head_mobile.png");
    width: 100%;
    margin: 0;
    padding: 118px 0;
  }
}
@media screen and (min-width: 480px) {
  .slogan {
    background-image: linear-gradient(rgba(25, 28, 38, 0.4), rgba(25, 28, 38, 0.4)), url("../images/img_head_mobile.png");
    width: 100%;
    margin: 0;
    padding: 118px 0;
  }
}
@media screen and (min-width: 768px) {
  .slogan {
    background-image: linear-gradient(rgba(25, 28, 38, 0.4), rgba(25, 28, 38, 0.4)), url("../images/img_head_tablet.png");
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 118px 0;
  }
}
@media screen and (min-width: 1200px) {
  .slogan {
    background-image: linear-gradient(rgba(25, 28, 38, 0.4), rgba(25, 28, 38, 0.4)), url("../images/img_head_tablet.png");
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 200px 0;
  }
}

.slogan__button {
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 188% */
  margin-top: 30px;
  letter-spacing: 0.06em;
  border: none;
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 50px;
  font-weight: 700;
  padding: 10px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.slogan__button:hover {
  background-color: #188ce8;
  color: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  display: flex;
  color: #2196f3;
}
@media screen and (max-width: 479px) {
  .logo {
    margin: auto;
    margin-left: 10px;
  }
}
@media screen and (min-width: 480px) {
  .logo {
    margin-left: 10px;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin: auto;
  }
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: flex;
  color: #2196f3;
}
@media screen and (max-width: 480px) {
  .logo-footer {
    justify-content: center;
  }
}
@media screen and (min-width: 480px) {
  .logo-footer {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .logo-footer {
    justify-content: center;
  }
}

.logo__blue {
  color: #18a0fb;
}

.web-white {
  color: white;
}

.logo__black {
  color: black;
}

@media screen and (max-width: 479px) {
  .advantage__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 25px);
    margin: auto;
  }
}
@media screen and (min-width: 480px) {
  .advantage__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 25px);
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .advantage__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__list {
    padding: 0;
    margin: 0%;
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
  }
}

.perevaga-container {
  /* margin-top: 94px; */
  padding-top: 94px;
}

.advantage__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 479px) {
  .advantage__title {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 480px) {
  .advantage__title {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .advantage__title {
    display: flex;
    justify-content: flex-start;
    width: 354px;
    padding-top: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .advantage__text {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .advantage__text {
    width: 450px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .advantage__text {
    margin-bottom: 30px;
    width: 354px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #757575;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__text {
    width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    width: 270px;
    color: #757575;
  }
}

.advantage__icon {
  width: 70px;
  height: 70px;
}

.advantage__box {
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 479px) {
  .advantage__box {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .advantage__box {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .advantage__box {
    width: 354px;
    margin-bottom: 30px;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__box {
    width: 270px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage {
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  background-color: rgba(33, 149, 243, 0.8235294118);
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}
.card:hover .portfolio-cover-text {
  transform: translateY(0);
}
@media screen and (min-width: 480px) {
  .portfolio-cover-text {
    margin: auto;
    padding: 20px;
  }
}

.portfolio {
  font-family: "Roboto";
  font-style: normal;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  padding: 0;
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .portfolio-title {
    font-weight: 700;
    font-size: 17px;
    line-height: 36px;
    /* or 200% */
    letter-spacing: 0.06em;
    color: #212121;
  }
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: var(--sec-text-color);
}

.footer-soc-link {
  display: flex;
}

.footer-adress-links {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  text-align: center;
  letter-spacing: 0.03em;
  /* justify-content:space-between; */
}
@media screen and (min-width: 480px) {
  .footer-adress-links {
    flex-direction: column;
    gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-adress-links {
    font-style: normal;
    gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-adress-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    gap: 165px;
    justify-content: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tablet {
    margin-left: 15px;
    display: flex;
    gap: 70px;
  }
}

.footer-message {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .footer-message {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-message {
    justify-content: left;
  }
}

.footer-adress-text {
  color: var(--primary-white-color);
  letter-spacing: 0.03em;
}

.footer-email {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-background {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer-links {
  padding-top: 12px;
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
}

.footer-subscribe {
  padding-top: 12px;
}
@media screen and (max-width: 480px) {
  .footer-subscribe {
    margin: auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 480px) {
  .footer-subscribe {
    margin: auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscribe {
    margin-top: 0;
    margin-right: 15px;
  }
}

@media screen and (min-width: 480px) {
  .adress-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .adress-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.adress-links-list {
  font-style: normal;
}
@media screen and (min-width: 480px) {
  .adress-links-list {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .adress-links-list {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}

.email-box {
  margin: 0;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  border: solid 1px #757575;
  background-color: #2f303a;
  box-sizing: border-box;
}
.email-box::-moz-placeholder {
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 5px;
}
.email-box:-ms-input-placeholder {
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 5px;
}
.email-box::placeholder {
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 5px;
}
@media screen and (max-width: 479px) {
  .email-box {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .email-box {
    width: 100%;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .email-box {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .email-box {
    width: 358px;
  }
}

@media screen and (max-width: 480px) {
  .subscribe-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 480px) {
  .subscribe-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-button {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-button {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.icon-send-white {
  fill: white;
}

.card-soc-link-foot {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-soc-link-foot:hover, .card-soc-link-foot:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.card-soc-icon {
  fill: currentColor;
}

@media screen and (min-width: 480px) {
  .about {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    width: 1200px;
    display: block;
    margin: auto;
  }
}

.skills-container {
  padding-bottom: 94px;
}

.about__title {
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 36px;
  }
}

.about__gallery {
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .about__gallery {
    display: flex;
    justify-content: center;
    padding: 0 15px;
  }
}

.current {
  color: var(--accent-color);
}

.about__box {
  position: relative;
  display: block;
}

.about__text {
  position: absolute;
  bottom: 0;
  color: white;
  font-weight: 600;
  line-height: 1.6;
  background-color: rgba(47, 48, 58, 0.6745098039);
  width: 100%;
  padding: 27px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.5019607843);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.menu {
  color: var(--title-text-color);
  transition: color 250ms linear;
}

.link-current {
  color: var(--accent-color);
}

.link-current::after {
  content: "";
  position: absolute;
  bottom: 1px;
  display: flex;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
@media screen and (min-width: 480px) {
  .link-current::after {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .link-current::after {
    display: flex;
  }
}

.modal {
  min-height: 500px;
  padding: 40px;
  box-sizing: border-box;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 100%;
  }
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-label-text,
.modal-label {
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 10px;
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input {
  width: 100%;
  height: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
  font-size: 14px;
  padding: 0;
  padding-left: 35px;
  outline: transparent;
}
.modal-input:focus {
  border: 1px solid var(--accent-color);
}

.modal-comment {
  font-family: "Roboto";
  font-style: normal;
  width: 100%;
  height: 94px;
  border-radius: 5px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  outline: transparent;
  padding: 12px 16px;
}
.modal-comment::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:focus {
  border: 1px solid var(--accent-color);
}

.modal-field {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.container-form {
  display: block;
  margin-top: 12px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.input-wrap {
  position: relative;
}

.check-text {
  font-size: 14px;
  color: #909090;
  position: relative;
}
@media screen and (min-width: 480px) {
  .check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: 0.03em;
  }
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #111319;
  border-radius: 2px;
  margin-right: 5px;
  justify-content: center;
  fill: transparent;
}

.icon-check {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: white;
}
.icon-check:checked + .check-text span {
  background-color: #2196f3;
  border-color: transparent;
  /* fill: #5bd67c; */
}
.icon-check:focus + .check-text span {
  border-color: #2196f3;
}

.agreement-text {
  padding-left: 20px;
  text-decoration: underline;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .agreement-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: 0.03em;
  }
}

.input-check-box {
  margin-top: 20px;
  justify-content: center;
  margin-left: 14px;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.our-clients {
  display: block;
  /* outline: #18a0fb solid 2px; */
  justify-content: center;
}

.logo-clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #afb1b8;
}
@media screen and (max-width: 479px) {
  .logo-clients-list {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0%;
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .logo-clients-list {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0%;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .logo-clients-list {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }
}

.logo-clients-icon {
  width: 170px;
  height: 92px;
  border: solid #afb1b8 1px;
  border-radius: 5%;
  justify-content: center;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-clients-icon:hover, .logo-clients-icon:focus {
  /* background-color: var(--accent-color); */
  cursor: pointer;
  color: var(--accent-color);
  border-color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .logo-clients-icon {
    width: 210px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-clients-icon {
    width: 170px;
  }
}

.logo-border {
  width: 106px;
  height: 60px;
}

.fill-icon {
  color: #afb1b8;
  fill: #afb1b8;
}

/* outline: #188ce8 solid 2px; */
.clients-position {
  align-items: center;
}/*# sourceMappingURL=main.css.map */