.logo {
    font-family: "Raleway", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */

    letter-spacing: 0.03em;
    
    display: flex;
    color: #2196f3;
    
@media screen and (max-width: 479px) {
        margin:auto;
        align-items: center;
        // justify-content: flex-start;

    }
    @media screen and (min-width: 480px) {
        margin-left: 30px;
        align-items: center;

    }
            @media screen and (min-width: 1200px ){
                //  margin-left: 100px;
                margin: auto;
            }
    

}


.logo-footer {
    font-family: "Raleway", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */

    letter-spacing: 0.03em;
    margin-bottom: 20px;
    display: flex;
    color: #2196f3;
    @media screen and (max-width: 480px) {
    
            justify-content: center;
    
        }
@media screen and (min-width: 480px) {
        
        justify-content: center;
        
    }
        @media screen and (min-width: 768px) {
    
            justify-content: center;
    
        }
}

.logo__blue {
    color: #18a0fb;
}

.web-white {
    color: white;
}

.logo__black {
    color: black;
}