section {
    // padding-top: 94px;
    padding-bottom: 94px;
    @media screen and (max-width: 479px) {
            width: 100%;
            padding-top: 60px;
            padding-bottom: 60px;
        }
    @media screen and (min-width: 480px) {
            width: 100%;
            padding-top: 60px;
                padding-bottom: 60px;
        }
                @media screen and (min-width: 768px) {
                    width: 100%;
                    padding-top: 60px;
                    padding-bottom: 30px;
                }
                                @media screen and (min-width:1200px) {
                                    width: 100%;
                                    padding-top: 94px;
                                        padding-bottom: 94px;
                                }
}

// .section-skills {
//     padding: 94px 0;
// }

.section-padding-top {
    padding-top: 0;
    @media screen and (max-width:479px) {
            display: none;
    
        }
    @media screen and (min-width:480px) {
        display: none;
        
    }
        @media screen and (min-width:1200px) {
            display: block;

    
        }
}                
