.slogan__container{
    /* width: 696px ; */
    max-width: 650px;
    /* height: 120px; */
    display: block;
    @media screen and (max-width: 479px) {
            width: 100%;
            padding: 0 60px;
        }
    @media screen and (min-width: 480px) {
            width: 100%;
            padding: 0 60px;
        }
                
        @media screen and (min-width: 768px) {
                    width: 100%;
                    padding: 0 204px;
                }
}

.slogan__text {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-white-color);

    @media screen and (max-width: 480px) {
            font-weight: 900;
                font-size: 26px;
                line-height: 42px;
                /* or 162% */
            
                text-align: center;
                letter-spacing: 0.06em;
                text-transform: uppercase;
            
                color: #FFFFFF;
        }
                @media screen and (max-width: 768px) {
                    font-weight: 900;
                    font-size: 24px;
                    line-height: 42px;
                    /* or 162% */
        
                    text-align: center;
                    letter-spacing: 0.06em;
                    text-transform: uppercase;
        
                    color: #FFFFFF;
                }
}

.slogan {
    background-color: #2f303a;

    // padding: 200px 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(25, 28, 38, 0.4),
            rgba(25, 28, 38, 0.4)),
        url("../images/img_head.png" );
    background-size: cover;

@media screen and (max-width: 479px) {
        background-image: linear-gradient(rgba(25, 28, 38, 0.4),
                rgba(25, 28, 38, 0.4)),
            url("../images/img_head_mobile.png");
        width: 100%;
        margin: 0;
        padding: 118px 0;
    }

    @media screen and (min-width: 480px) {
    background-image: linear-gradient(rgba(25, 28, 38, 0.4),
                rgba(25, 28, 38, 0.4)),
            url("../images/img_head_mobile.png");
        width: 100%;
        margin: 0;
    padding: 118px 0;
        }
                @media screen and (min-width: 768px) {
                    background-image: linear-gradient(rgba(25, 28, 38, 0.4),
                            rgba(25, 28, 38, 0.4)),
                        url("../images/img_head_tablet.png");
                        background-size: cover;
                    width: 100%;
                    margin: 0;
                    padding: 118px 0;

        
                }
                                @media screen and (min-width: 1200px) {
                                    background-image: linear-gradient(rgba(25, 28, 38, 0.4),
                                            rgba(25, 28, 38, 0.4)),
                                        url("../images/img_head_tablet.png");
                                    background-size: cover;
                                    width: 100%;
                                    margin: 0;
                                    padding: 200px 0;
                
                
                                }
    


}

.slogan__button {
    background-color: #2196f3;
    font-family: inherit;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    /* identical to box height, or 188% */
    margin-top: 30px;
    letter-spacing: 0.06em;
    border: none;
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    height: 50px;
    font-weight: 700;
    padding: 10px 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: #188ce8;
        color: #ffffff;
    }

}